<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue.js Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <h1>{{ location }}</h1>
      <button v-on:click="changeMessage()">Click here to change the message</button>
      Show your message: <input type="text" v-model="message">
      <p v-if="isQualified">Here is some secret info: my ssn is 8675309</p>
    </div>

  </body>
</html>

<script>
  var app = new Vue({
  el: "#app",
  data: {
    message: "Goodbye Vue!",
    location: "Chicago",
    isQualified: false
  },
  methods: {
    changeMessage: function() {
      console.log('changing the message');
      this.message = 'hello';
    }
  }
});
</script>