<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue.js Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div>1st number: <input type="text" v-model="number1"></div>
      <div>2nd number: <input type="text" v-model="number2"></div>
      <div>3rd number: <input type="text" v-model="number3"></div>
      <div><button>Compute sum</button></div>
      <p>The result is: </p>
    </div>
  </body>
</html>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      message: "Hello Vue!",
      number1: 0,
      number2: 0,
      number3: 0
    },
    methods: {

    }
  });
</script>