<!DOCTYPE html>
<html>
  <head>
    <title>CookbookApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <p>
      <a href="/recipes">Go to the home page</a>
      <a href="/recipes/new">Make a new recipe</a>
    </p>
    <%= yield %>
  </body>
</html>
