<h1>Create a recipe</h1>
<form action="/recipes" method=POST>
  <label for='title'>
    <p>Title: <input type="text" name="title"></p>
  </label>
  <label for='chef'>
    <p>Chef: <input type="text" name="chef"></p>
  </label>
  <label for='ingredients'>
    <p>Ingredients: <input type="text" name="ingredients"></p>
  </label>
  <label for='directions'>
    <p>Directions: <input type="text" name="directions"></p>
  </label>
  <label for='prep_time'>
    <p>Prep Time: <input type="text" name="prep_time"></p>
  </label>
  <label for='user_id'>
    <p>User Id: <input type="text" name="user_id"></p>
  </label>
  <button type-"submit">Create</button>
</form>